<html>
    <head>

    </head>
    <body>
        <main>
            <h1> Activities </h1>
            <% acts.forEach( (acts) => {%>
                <li> <%= acts.name %> <%= acts.money %></li>
            <% }) %>
        </main>
    
    </body>
</html>